*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
.margin{
  margin-top: 100px;
}
.hedear{
  background-image:  url(/image-folder/cow.png) ;
    background-repeat: no-repeat;
    background-size:cover;
    height: 90vh;
}
.text-section{
  height: 28vh;
  padding-top: 10%;
  padding-left: 12%;
  padding-right: 55%;
  color: white;
  text-align:justify;
}
.h-tag{
  margin-bottom: 40px;
}
.link a{
  display: inline-block;
  padding: 14px;
  margin: 10px 0 0 0;
  font-size:17px;
  color:white;
  border-radius:5px;
  text-decoration: none;
  background-color: rgba(220, 20, 60, 0.882);
}
.div-flex{
  display:flex;
}
.width-half{
width: 50%;
margin:0 10%;
}
.width-half video{
  width: 100%;
  height: 400px;
}
.paragrap{
  margin-bottom:19px;
}
.image img{
  width: 80%;
  margin:0  0 0 25px;
  border: 1px solid rebeccapurple;

  height: 500px;
}
.text-half{
  display: block;
  width: 50%;
  margin:80px 10px 0 0;
}
.center-aling{
  text-align: center;
  margin-top: 100px;
}
#center{
  margin:10px 28% 0 ;
}
.grid-container >div {
 display:flex;
 background-color: bisque;
 border-radius:15px;
}
.grid-container{
  width: 80%;
  margin:10%;
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap:30px;
  

}
.icon{
  margin: 40px;
  height: 50px;
}
.text{
  margin: 50px 50px 50px 0;
}
.flex{
  display:grid;
  grid-template-columns:auto auto auto;
  grid-gap:5px;
  width: 80%;
  margin: 10%;

}
.flex img{
  width: 100%;
  height: 350px;
  border-radius:20px;
  
}